body {
  background-color: #264653;
  color: #e9c46a;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
}

h2 {
  color: #e76f51;
}
.profile-picture {
  border: 2px solid black;
  border-radius: 50%;
  width: 500px;
  height: 600px;
}

@media (max-width: 400px) and (max-height: 400px) {
  .profile-picture {
    border: 2px solid black;
    border-radius: 50%;
    width: 400px;
    height: 500px;
  }
}

.header {
  border: 2px solid black;
  color: #e76f51;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  background-image: url(https://images.unsplash.com/photo-1556244573-c3686c0f0e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80);
  background-size: cover;
}

.name_header {
  background-color: #264653;
  border: 3px solid black;
  padding: 2px;
}

.icons {
  display: inline;
  max-width: 25%;
  max-height: auto;
}

.form {
  border: 2px solid black;
}

.icons,
img {
  width: 180px;
  height: 180px;
  margin: 20px;
}

.projects,
img {
  width: 300px;
  height: 300px;
  display: inline;
}

button {
  background-color: unset;
  color: white;
  border: 2px solid #e76f51;
}

button:hover {
  box-shadow: 10px 5px 5px #e76f51;
  transform: scaleY(1.25);
}
